
/* common  */

body{
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
.container{
    
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
   
}
/* style  */
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 10%
}
.half-width img{
    width: 100%;
}

.ankor{
    text-decoration: none;
    background-color: blueviolet;
    padding: 15px 35px;
    color: white;
    border-radius: 50px;
   
    
}
h1{
    font-size: 40px;
}
.paragraph{
    margin-bottom: 40px;
}
/*------------------------------------
             Collection styles 
             ------------------------------------------------ */
             .collections{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 50px;
grid-row-gap: 35px;
margin-bottom: 80px;
             }
             .collection .collection-banner img{
                 width: 224px;
                 height: 200px;
                 grid-column-gap: 24px;
                
             }
             .fa-star{
                 font-size: 12px;
             }
            .fa-star-half-alt{
                font-size: 12px;
            }
             .fa-star.filled{
                 color: #ffc014;
             }
             .fa-star-half-alt.filled{
                color: #ffc014;
             }
            .title{
                text-align: center;
                color: blueviolet;
                margin-bottom: 20px;
            }
            .head{
                margin-top: 80px;
                margin-left: 150px;
                font-size: 20px;
            }

        .foot{
            background-color: blueviolet;
            text-align: center;
            color: white;
            padding: 20px;
        }